<div class="row">
    <div ng-controller="DeleteUserCtrl as duc">
        <h1>Delete User</h1>

        <form id="DeleteUserForm" name="DeleteUserForm" class="form-horizontal" role="form"
              ng-submit="cuc.createUser()">
            <legend class="sm-col-12">User Information has been Deleted</legend>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 text-right">
                    <a ng-href="/index.html" id="btn_cancel" class="btn btn-warning">Back To user's List</a>
                </div>
            </div>


        </form>
    </div>
</div>

